
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f5f9;
    color: #222;
}

header {
    text-align: center;
    background-color: #9eadce;
    color: white;
    padding: 40px 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.subtitle {
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #051a5f;
    padding: 15px;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.intro,
.wishes {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.expectations {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.expectation {
    flex: 1;
    background-color: #dbeafe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #60a5fa;
}

.expectation h3 {
    color: #57658b;
}

.wishes li {
    margin-bottom: 12px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #383e4f;
    color: white;
    padding: 20px;
}

@media (max-width: 720px) {

    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    
    .expectations {
        flex-direction: column;
    }

    .subtitle {
        display: none;
    }

    .navigation a:last-child {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    main {
        padding: 0 15px;
    }
}

.airplane {
    background-color: grey;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.airplane svg {
    max-width: 100%;
    height: auto;
}